<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>    
  

    <main>
        <div class="row" style="width:100vw;">
            <div class="col-md-8 bgImage"  >
                <div style="color:white;font-weight: 700;font-family: 'Poppins',sans-serif;font-size: 4rem; width:90%;margin:8rem auto;text-align: left;">
                    <span style="color:yellow;display: block;">HELLO!</span>
                    <span>IT'S PERSONAL</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="loginForm">
                    <div class="paraForm">Login to FaceDiary for Free</div>
                    <form action="/login" method="POST">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                        </div>
    
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div style="margin:0 auto;width:60%;text-align: center;"> <button type="submit" class="btn btn-primary">Login</button></div>
                        <div style="text-align: center;font-weight: 600;margin-bottom: 0.6rem;">or</div>
                        <div style="margin:0 auto;width:60%"><a style="color:#4267b2;text-decoration: none;font-weight: 600;" href='/signup'>Create a New Account</a></div> 
                      </form>
                     
                </div>
                
            </div>
        </div> 
    </main>
<%- include('../includes/end.ejs') %>